.exp-accordian-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
    animation: transformIn linear 0.5s;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
  }
  
  @keyframes transformIn {
      from {
          opacity: 0;
          transform: translateX(-100px);
      }
      to {
          opacity: 1;
          transform: translateX(0px);
      }
  }
  
  .exp-accordian-effect{
      display: block;
      transition: all 0.3s ease;
  }
  .exp-accordian-effect:hover{
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transform: translateY(-5px);
  }
  
  .exp-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .exp-head-left {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 20px;
  }
  
  .post-color {
    font-weight: bold;
    color: #4070f4 !important;
  }
  
  .exp-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .exp-details {
    display: flex;
    flex-direction: column;
  }
  
  .exp-details li {
    width: 95%;
    text-align: justify;
  }
  
  @media (max-width: 768px) {
    .exp-accordian-container {
      width: 80vw;
    }
  
    .exp-accordian {
      width: 80vw;
    }
  
    .exp-heading-container {
      width: 100%;
      flex-direction: column;
    }
  
    .exp-head-left {
      width: 70vw;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  
    .exp-logo {
      width: 50px;
      height: 50px;
    }
  
    .exp-details li {
      width: 100%;
      font-size: 0.9rem;
    }
  }
  