.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: transparent;
    flex-direction: row-reverse;
  }
  
  .intro-text {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
  .intro-text h2 {
    font-size: 48px;
    font-weight: bold;
    color: #0e2431;
  }
  
  .intro-text h3 {
    font-size: 24px;
    font-weight: bold;
    color: #4070f4;
  }
  
  .intro-text p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .intro-image {
    text-align: right;
  }
  
  .intro-image img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    .intro {
      flex-direction: column;
      padding: 20px;
    }
    .intro-image img {
        width: 25vh;
        height: 25vh;
      }
      .intro-text h2 {
        font-size: 1.5rem;
      }
      .intro-text h3 {
        font-size: 1.2rem;
      }
      .intro-text p {
        font-size: 1.1rem;
      }
  }

  .social-icon {
    color: black;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
    height: 40px;
  }
  
  .social-icon:hover {
    color: #0e2431; 
  }