.body {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  background-color: #f0f8ff;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}